.events-container {
    background-color: var(--events-container-background);
    color: var(--text-color);
}

.event-data {
    color: var(--event-data-font);
}

.group-list {
    background-color: var(--background-color);
    border: 0.2px solid var(--group-list-border);
    border-radius: 20px;
}

ul,
li {
    list-style: none;
}

ul.group-list {
    display: inline-flex;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
}

.ul-list img {
    width: 20px;
    margin-right: 10px;
}

.group-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li.group-item {
    font-size: 10px;
    color: var(--modal-box-shadow);

}

li.ul-list {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 15px;
    text-transform: uppercase;
}

.group-item ul {
    display: block;
}

li.group-time {
    font-size: 16px;
    align-items: center;
    display: grid;
    padding: 30px 0;
}

.group-time a {
    font-size: 10px;
}

ul.group-matchday {
    margin: 0;
    padding: 0;
    opacity: 0.3;
    font-size: 15px;
}
