.carousel-container .carousel-wrapper {
    position: relative;
    height: 50vh;

  }
  
  .carousel-container .carousel-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    max-height: 500px;
    min-width: 900px;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-wrapper img.active {
    opacity: 1;
  }
  